body{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
}

h1{
    font-size: 45px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border: 6px solid black;
    background: radial-gradient(circle, rgba(209,171,30,1) 0%, rgba(241,45,45,1) 100%);
}

.container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    /* background-color: grey; */
}

.Formulaire{
    background-color: grey;
    margin-top: 25%;
    padding-bottom: 15px;
}

.ConnexionForm{
    display: block;
    padding: 10px;
    font-size: 25px;
    color: aquamarine;
}

.ConnexionInput{
    font-size: 25px;
    border: 5px double blue;
}

.boutonform{
    display: block;
    margin-top: 25px;
}