/* CSS du Formulaire */

.bodyidentification{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/src/test.png");
}

h1{
    font-size: 45px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border: 6px solid black;
    background: radial-gradient(circle, rgba(209,171,30,1) 0%, rgba(241,45,45,1) 100%);
}

.accueil{
    margin-right: 95%;
}

.containerForm{
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

#FormConnexion{
    background-color: black;
    margin-top: 25%;
    padding-bottom: 15px;
}

.ConnexionForm{
    display: block;
    padding: 10px;
    font-size: 25px;
    color: aquamarine;
}

.ConnexionInput{
    font-size: 25px;
    border: 5px double blue;
}

.boutonform{
    display: block;
    margin-top: 25px;
}

.bouton{
    font-weight: bold;
    color: green;
}

.Hidden{
    display: none;
}

#FormInscription{
    background-color: black;
    margin-top: 25%;
    padding-bottom: 15px;
}

.InscriptionForm{
    display: block;
    padding: 10px;
    font-size: 25px;
    color: aquamarine;
}

.InscriptionInput{
    font-size: 25px;
    border: 5px double blue;
}

/* CSS de soumisson d'anecdote */

.bodysub{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

.Culture{
    background-image: url("/src/chichen-itza-7861103_1920.jpg");
}

.Animaux{
    background-image: url("/src/lemurs-1010643_1920.jpg");
}

.Sports{
    background-image: url("/src/stadium-4181150_1920.jpg");
}

.containerSub{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#FormSub{
    margin-top: 50%;
    padding-bottom: 15px;
}

.SubForm{
    display: block;
    padding: 10px;
    font-size: 25px;
    color: rgb(13, 149, 240);
}

.SubInput{
    font-size: 15px;
    border: 5px double blue;
}

#anecdote{
    width: 550px;
    height: 120px;
    resize: none;
    font-size: 14px;
}

#source{
    margin-top: 10px;
    width: 350px;
    text-align: center;
}

#request{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}