/* CSS du Formulaire */

.bodyidentification {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/test.png");
}

.titre {
    font-size: 45px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border: 4px solid black;
    background: radial-gradient(circle, rgba(209, 171, 30, 1) 0%, rgba(241, 45, 45, 1) 100%);
    box-shadow: 0px 0px 50px 10px rgba(240, 180, 240, 1);
}

h2 {
    font-size: 25px;
    width: 130px;
    margin: auto;
    margin-top: 5%;
    border: 2px dashed #000000;
    border-radius: 40px 40px 40px 40px;
    outline: 2px dashed #000000;
    outline-offset: 5px;
    color: rgb(238, 241, 43);
}

.btnaccueil {
    margin-right: 95%;
}

#retour{
    border: none;
    background: none;
    color: #000000;
    border: 2px solid #1C6EA4;
    border-radius: 40px;
}

#retour:hover{
    cursor: pointer;
}

.containerForm {
    max-width: 400px;
    margin: auto;
    margin-top: 5px;
    padding: 20px;
}

#FormConnexion {
    background-color: rgb(145, 69, 69);
    margin-top: 25%;
    padding-bottom: 15px;
    border: 2px solid bisque;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.ConnexionForm {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    color: aquamarine;
}

.ConnexionInput {
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.boutonform {
    display: block;
    margin-top: 25px;
}

.bouton {
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(244, 201, 42, 1) 0%, rgba(145, 69, 69, 1) 100%);
}

.Hidden {
    display: none;
}

#FormInscription {
    background-color: #35a1a5;
    margin-top: 25%;
    padding-bottom: 15px;
    border: 2px solid bisque;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.InscriptionForm {
    display: block;
    padding: 10px;
    font-size: 25px;
    color: rgb(145, 69, 69);
}

.InscriptionInput {
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* CSS de soumisson d'anecdote */

.bodysub {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/mountains-5544365_1920.jpg");
}

.Culture {
    background-image: url("../img/chichen-itza-7861103_1920.jpg");
}

.Animaux {
    background-image: url("../img/lemurs-1010643_1920.jpg");
}

.Sports {
    background-image: url("../img/stadium-4181150_1920.jpg");
}

.containerSub {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#FormSub {
    margin-top: 25%;
    padding-bottom: 15px;
}

.SubForm {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(17, 0, 255);
    width: 235px;
    height: 18px;
    margin: auto;
}

.SubInput {
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);
}

#anecdote {
    width: 550px;
    height: 120px;
    resize: none;
    font-size: 14px;
    border: 5px double grey;
    box-shadow: inset 25px 15px 25px 0px rgba(0,0,0,0.1),inset -25px -15px 25px 0px rgba(0,0,0,0.1);
}

#source {
    margin-top: 10px;
    width: 350px;
    text-align: center;
}

#request {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* CSS de l'accueil */

.bodyaccueil {
    text-align: center;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00ffff;
    opacity: 0.8;
    background: 
      radial-gradient(calc(1.28*32px + 12px/2) at left 50% bottom calc(-.8*32px),#00d9ff calc(100% - 12px),#ffffff calc(101% - 12px) 100%,#0000 101%) calc(2*32px) calc(-1*calc(1.5*32px + 12px)),
      radial-gradient(calc(1.28*32px + 12px/2) at left 50% bottom calc(-.8*32px),#297ccb calc(100% - 12px),#ffffff calc(101% - 12px) 100%,#0000 101%) calc(-1*32px) calc(calc(1.5*32px + 12px)/-2),
      radial-gradient(calc(1.28*32px + 12px/2) at left 50% top    calc(-.8*32px),#297ccb calc(100% - 12px),#ffffff calc(101% - 12px) 100%,#0000 101%) 0 calc(1.5*32px + 12px),
      radial-gradient(calc(1.28*32px + 12px/2) at left 50% top    calc(-.8*32px),#00d9ff calc(100% - 12px),#ffffff calc(101% - 12px) 100%,#0000 101%) 32px calc(calc(1.5*32px + 12px)/ 2),
      linear-gradient(#00d9ff 50%,#297ccb 0);
    background-size: calc(4*32px) calc(1.5*32px + 12px);
}

.titresite {
    font-size: 50px;
    color: rgb(255, 255, 255);
    width: auto;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(4, 245, 253) 0%, rgb(100, 8, 143) 50%, rgb(9, 57, 216) 100%);
    box-shadow: inset 25px 15px 20px 0px rgba(193, 195, 255, 0.5),inset -25px -15px 20px 0px rgba(34, 38, 155, 0.5);
    text-shadow: 5px 5px 4px rgba(125, 135, 255, 1);
}

.flexcorps {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 55px;
    height: 675px;
}

.panneaugauche {
    flex-grow: 1;
    text-align: left;
    font-size: 19px;
    width: 150px;
    background-color: rgb(65, 227, 248);
    border-radius: 10%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.listesite {
    list-style-type: square;
}

.lignesite {
    padding: 14px;
}

.panneaumilieu {
    flex-grow: 8;
    order: 0;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    --sz: 14px;
    --c1: #97c3d7;
    --c2: #789cad;
    --c3: #607D8B;
    --c4: #445a65;
    --ts: 50% / calc(var(--sz)* 20) calc(var(--sz)* 20);
    background:
      conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#000000 0 120deg,#0000 0),
      conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#939393 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#ffffff 0 120deg,#0000 0),
      conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#ffffff 0 120deg,#0000 0),
      conic-gradient(from -180deg at calc(100%/3) 50%,#939393  60deg,#ffffff 0 120deg,#0000 0),
      conic-gradient(from 60deg at calc(200%/3) 50%,#ffffff  60deg,#000000 0 120deg,#0000 0),
      conic-gradient(from -60deg at 50% calc(100%/3),#ffffff 120deg,#939393 0 240deg,#000000 0);
    background-size: 111px 64px;
}

.AnecdoteJour{
    margin-top: 15px;
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 6px double gold;
    animation: scroll 100s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
      #111111;
    color: #eee;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  @keyframes scroll {
    100% {
      background-position: 0px -400%;
    }
  }
  
  /* Fallback if the operatring system prefers reduced motion*/
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 800s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }


.TitreT{
    font-size: 22px;
    color: #00ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.AnecdoteT{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.AnecdoteCulture{
    background-color: black;
    width: 1000px;
    margin-left: 5%;
    height: 145px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    border: 3px solid gold;
    margin-top: 10px;
    color: #ffffff;
}

.AnecdoteSport{
    background-color: black;
    width: 1000px;
    margin-left: 5%;
    height: 145px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    border: 3px solid gold;
    margin-top: 10px;
    color: #ffffff;
}

.AnecdoteAnimaux{
    background-color: black;
    width: 1000px;
    margin-left: 5%;
    height: 145px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    border: 3px solid gold;
    margin-top: 10px;
    color: #ffffff;
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.panneaudroite {
    flex-grow: 1;
    font-size: 18px;
    width: 150px;
    background: rgb(65, 227, 248);
    border-radius: 10%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

a:link{
    color: #8994f7;
}

a:visited{
    color: #ffffff;
}

a:hover{
    color: pink;
}

#FooterAcc{
    background-color: #ffffff;
    height: 75px;
    box-shadow: inset 0px 0px 15px 15px rgb(12, 80, 226);
}